.Phonetic{
    height: 50px;
    text-align: center;
}

.Phonetic a {  
border: 1px solid #ddd;
text-decoration: none;
padding:10px 20px;
border-radius: 20px;
font-size: smaller;
margin-right: 10px;
}

.Phonetic a:hover{
    color:white;
    background: red;
}